
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

body
{
    margin: 0px;
    /* background-image: linear-gradient(to bottom left, rgb(151, 234, 255),rgb(196, 238, 255), rgb(119, 191, 250)); */
}

* {
box-sizing: border-box;
}

.index-bg
{
    background-color: rgb(236, 255, 254);
}

.highlights
{
    background-color: yellowgreen;
    text-align: left; 
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: 25px solid rgb(230, 248, 191);
    font-size: 2rem;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.our-motive
{
   border-radius: 20px; 
   padding: 35px; 
   font-size: 1.5rem; 
   background-image: linear-gradient(to bottom ,  rgb(230, 248, 191), rgb(246, 255, 234)); 
   text-align: left; 
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgb(0, 41, 59);
}

#title
{
    cursor: pointer;
    font-family: 'Fondamento', cursive;
    font-weight: bolder;
    color:rgb(228, 253, 0);
}







.topicIntro
{
    width: 90%;
    text-align: justify;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: rgb(195, 252, 234);
    color: rgb(34, 23, 23);
}

.bg-topic
{
    background-color: rgb(73, 164, 248);
}

.topics
{
    text-align: center;
    padding: 8% 5% 8% 5%;
    border: 8px solid rgb(73, 164, 248);
    border-radius: 3%;
    margin-bottom: 1%;
    background-color: rgb(215, 255, 242);
    
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.topics a{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.footer
{
    
    text-align: center;
    padding: 3% 10% 2%;
    background-color: rgb(165, 183, 189);
}
.footer-sec2
{
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

.developed-by
{
    font-size: 1.1rem;
    font-weight: 700;
    color: rgb(0, 84, 117);
}

.connect-with-us
{
    font-size: 2rem;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtopics
{
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-weight: 900;
    color: rgb(1, 55, 105);
    /* color: rgb(80, 0, 53); */
    text-decoration: underline;
}
section{
    width: 90%;
    border: 5px solid rgb(1, 55, 105);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.aboutus-bg
{
    background-color: rgb(151, 201, 216);
}

.our-story
{
    background: rgb(188, 205, 209);    
    font-size: 2rem; 
    text-align: center; 
    margin:auto; 
    padding: 15px; 
    border-radius: 10%; 
    font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bolder;
    border: 5px solid rgb(2, 43, 43);
}
.container
{
    width: 50%;
    
}
.about-us-data 
{
    text-align: justify;
    background-color: rgb(210, 221, 219);
    border-radius: 10px;
    border: 2px ridge silver;
    line-height: 2;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    padding: 15px;
    color: rgb(41, 39, 39);
}
